<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICollstreamVoiceService">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.collstream.co.uk/Voice/v1_0/CollstreamVoiceService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICollstreamVoiceService"
                contract="Esendex.VoiceService.ICollstreamVoiceService" name="BasicHttpBinding_ICollstreamVoiceService" />
        </client>
    </system.serviceModel>
</configuration>